{% extends 'main.html' %} {% block content %}

<style>
  .home-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
</style>

<h1>home template</h1>

<div class="home-container">
  <div>
    <h3>Topics</h3>
    <hr />

    <div>
      <a href="{% url 'home' %}">All</a>
    </div>

    {% for i in topic %}
    <div>
      <a href="{% url 'home' %}?q={{i.name}}">{{i.name}}</a>
    </div>
    {% endfor %}
  </div>

  <div>
    <h5>{{room_count}} Rooms Available</h5>
    <a href=" {% url 'create-room' %} ">Create room</a>
    <div>
      {% for i in rooms %}
      <div>
        <a href="{% url 'update-room' i.id %}">Edit</a>
        <a href="{% url 'delete-room' i.id%}">Delete</a>
        <span>@{{ i.host.username }}</span>
        <h5>{{i.id}}- - -<a href="{% url 'room' i.id %}">{{i.name}}</a></h5>
        <small>{{ i.topic.name }}</small>
        <hr />
      </div>
      {% endfor%}
    </div>
  </div>
</div>

{% endblock %}
